# Day 11

# Set

# Creatign a set

In [2]:
a = {"animal","ball","cat"}
print(a)
print(type(a))

{'cat', 'ball', 'animal'}
<class 'set'>

# Set items are unordered

In [3]:
a = {"animal","ball","cat"}
print(a[0])

TypeError: 'set' object is not subscriptable

# Duplicates not allowed

In [4]:
a = {"animal","ball","cat","animal","ball","ball"}
print(a)

{'cat', 'ball', 'animal'}

# True and 1 is consider the same value

In [5]:
a = {"animal","ball","cat","animal","ball","ball",1,2,3,True}
print(a)

{1, 2, 3, 'cat', 'ball', 'animal'}

# Get the length of a set

In [6]:
a = {"animal","ball","cat","animal","ball","ball",1,2,3,True}
print(a)
print(len(a))

{1, 2, 3, 'cat', 'ball', 'animal'}
6

# Set items - Data Types

In [7]:
x1 = {1,2,3,4}
x2 = {1.2,2.3,1.4,4.5}
x3 = {'a','b','c'}
x4 = {True, False, True}
print(x1,x2,x3,x4)

{1, 2, 3, 4} {1.2, 2.3, 4.5, 1.4} {'c', 'b', 'a'} {False, True}

In [8]:
m = {1,2,-5,2.1,2.3,6+3j,"apple",True}
print(m)

{1, 2, 2.1, 2.3, -5, 'apple', (6+3j)}

In [9]:
x5 = {[1,2,3,4]}
print(x5)

TypeError: unhashable type: 'list'

In [11]:
x6 = {(1,2,3,4)}
print(x6)
print(type(x6))

{(1, 2, 3, 4)}
<class 'set'>

In [12]:
x7 = {{"a":1,"b":2}}
print(a)

TypeError: unhashable type: 'dict'

In [13]:
a = {{1,2,3},{4,5,6}}
print(a)

TypeError: unhashable type: 'set'

# The Set () Constructor

In [14]:
thisset = set(("alpha","beta","gama"))
print(thisset)
print((type(thisset)))

{'gama', 'alpha', 'beta'}
<class 'set'>

# Creating Empty Set

In [15]:
a = {}
print(a)
print(type(a))

{}
<class 'dict'>

In [16]:
empty = set()
print(type(empty))

<class 'set'>

# Access Items

In [17]:
a = {"a","b","c","d"}
for x in a:
    print(x)

c
b
d
a

# Check if "item" is present in the set

In [18]:
a = {"data","python","code"}

print("code" in a)

True

In [19]:
a = {"data","python","code"}

print("analyst" in a)

False

# Add items

In [20]:
a = {"a","b","c","d"}
a.add(100)
print(a)

{'c', 100, 'd', 'a', 'b'}

In [21]:
x = {"data","python","code"}
y = {10,20,30,40,50,60,70}

x.update(y)
print(x)

{'code', 70, 40, 10, 'python', 50, 20, 'data', 60, 30}

# Remove Set Items

In [22]:
n = {'code', 70, 40, 10, 'python', 50, 20, 'data', 60, 30}
n.remove(40)
print(n)

{'code', 70, 10, 'python', 50, 20, 'data', 60, 30}

In [23]:
n = {'code', 70, 40, 10, 'python', 50, 20, 'data', 60, 30}
n.remove("python")
print(n)

{'code', 70, 40, 10, 50, 20, 'data', 60, 30}

In [24]:
m = {'code', 70, 40, 10, 'python', 50, 20, 'data', 60, 30}
x = m.pop()
print(m)

{70, 40, 10, 'python', 50, 20, 'data', 60, 30}

In [25]:
m = {'code', 70, 40, 10, 'python', 50, 20, 'data', 60, 30}
m.clear()
print(m)

set()

In [26]:
m = {'code', 70, 40, 10, 'python', 50, 20, 'data', 60, 30}
del m
print(m)

NameError: name 'm' is not defined

# Join Two Sets

In [27]:
x = {"a","b","c"}
y = {1,2,3}
z = x.union(y)
print(z)

{1, 2, 'c', 3, 'a', 'b'}

# Write a python program to find the maximum and minimum values

In [28]:
setn = {5,10,3,15,2,20}
print("original set elements")
print(setn)
print("Maximum value of the set is")
print(max(setn))
print("Minimum value of the set is")
print(min(setn))

original set elements
{2, 3, 20, 5, 10, 15}
Maximum value of the set is
20
Minimum value of the set is
2

# Return a new set of identical items from two sets

In [29]:
set1 = {10,20,30,40,50}
set2 = {30,40,50,60,70}

print(set1.intersection(set2))

{40, 50, 30}